<?xml version="1.0"?>

<launch>
    <include file="$(find f1tenth_simulator)/launch/simulator.launch">
        <!-- test for rectangular course, f1_aut_wide is default -->
        <arg name="map" value="$(find f1tenth_simulator)/maps/f1_aut_wide.yaml"/>
    </include>
    <node name="wall_follow" pkg="wall_follow" type="wall_follow.py" output="screen" />
    <node name="safety_node" pkg="safety_node1" type="safety_node" output="screen" />
</launch>
