<?xml version="1.0"?>

<launch>
    <!-- rect / infhs_slam_2 / rect_reverse / f1_aut_wide / f1_aut_wide_obstacles / f1_aut / f1_mco / f1_gbr / f1_esp / test -->
    <arg name="map"  default="infhs_slam_2"/>

    <include file="$(find f1tenth_simulator)/launch/simulator.launch">
        <arg name="map" value="$(find f1tenth_simulator)/maps/$(arg map).yaml"/>
        <arg name="map_frame"  value="map"/>
    </include>

    <!-- Debugging. Set to false on HW -->
    <arg name="visualization" default="true"/>

     <!-- Disparity extender params -->
    <arg name="disparity"  default="0.25"/>
    <arg name="safety_distance"  default="0.3"/>
    <arg name="lidar_angular_range"  default="160"/>
    
    <!-- Steering angle calculation -->
    <arg name="min_steering_gain"  default="0.5"/>
    <arg name="max_steering_gain"  default="0.7"/>
    
     <!-- Velocity calculation -->
    <arg name="max_speed"  default="4.5"/>
    <arg name="min_speed"  default="2"/>
    <arg name="brake_before_crash_gain"  default="0.2"/>
    <arg name="brake_to_steer_gain"  default="0.35"/>
    <arg name="brake_for_strech_end_gain"  default="0.0"/>

     <!-- old linear mapping with gain -->
    <arg name="linear_velocity"  default="false"/>
    <arg name="velocity_gain"  default="1.6"/>

    <node name="reactive" pkg="reactive" type="reactive.py" output="screen">
        <param name="visualization" value="$(arg visualization)"/>
        <param name="max_speed"  value="$(arg max_speed)"/>
        <param name="min_speed"  value="$(arg min_speed)"/>
        <param name="brake_before_crash_gain"  value="$(arg brake_before_crash_gain)"/>
        <param name="brake_to_steer_gain"  value="$(arg brake_to_steer_gain)"/>
        <param name="brake_for_strech_end_gain"  value="$(arg brake_for_strech_end_gain)"/>
        <param name="velocity_gain"  value="$(arg velocity_gain)"/>
        <param name="min_steering_gain"  value="$(arg min_steering_gain)"/>
        <param name="max_steering_gain"  value="$(arg max_steering_gain)"/>
        <param name="disparity"  value="$(arg disparity)"/>
        <param name="safety_distance"  value="$(arg safety_distance)"/>
        <param name="lidar_angular_range"  value="$(arg lidar_angular_range)"/>
        <param name="linear_velocity" value="$(arg linear_velocity)"/>
    </node>

    <include file="$(find timer)/launch/timer.launch">
    </include>
</launch>
