<?xml version="1.0"?>

<launch>
    <include file="$(find f1tenth_simulator)/launch/simulator.launch">
        <!-- rect / rect_reverse / f1_aut_wide (default)/ f1_aut / f1_mco / f1_gbr / f1_esp -->
        <arg name="map" value="$(find f1tenth_simulator)/maps/rect_reverse.yaml"/>
    </include>
    <node name="wall_follow" pkg="wall_follow" type="wall_follow.py" output="screen" />
</launch>
