<?xml version="1.0"?>

<!-- Run the planner on a PC to avoid installation problems on the car -->
<!-- The calculated path is written to a bag file which is read by pure pursuit -->

<launch>
    <!-- bunch_of_sticks / f1_aut_wide / f1_aut_wide_obstacles / f1_aut / f1_mco / f1_gbr / f1_esp / test / infhs_slam_2-->
    <arg name="map"  default="infhs_slam_2"/>
    <arg name="is_slam_map"  default="True"/>
    <arg name="bag_name"  default="$(find pure_pursuit)/maps/$(arg map)_path"/>

    <!-- Map server-->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find f1tenth_simulator)/maps/$(arg map).yaml"/>

    <arg name="wall_distance"  default="0.4"/>
    <arg name="waypoint_distance"  default="0.1"/>
    <arg name="start_line_step"  default="4"/>
    <arg name="use_gradient_descent"  default="True"/>
    <arg name="gradient_step_size"  default="7"/>
    <arg name="gradient_weight_past"  default="0.35"/>
    <arg name="gradient_weight_future"  default="0.15"/>

    <node name="planner" pkg="pure_pursuit" type="planner.py" output="screen">
         <param name="wall_distance"  value="$(arg wall_distance)"/>
         <param name="waypoint_distance"  value="$(arg waypoint_distance)"/>
         <param name="start_line_step"  value="$(arg start_line_step)"/>
         <param name="map_name"  value="$(arg map)"/>
         <param name="bag_name"  value="$(arg bag_name)"/>
         <param name="use_gradient_descent"  value="$(arg use_gradient_descent)"/>
         <param name="gradient_step_size"  value="$(arg gradient_step_size)"/>
         <param name="gradient_weight_past"  value="$(arg gradient_weight_past)"/>
         <param name="gradient_weight_future"  value="$(arg gradient_weight_future)"/>
         <param name="is_slam_map"  value="$(arg is_slam_map)"/>
    </node>
</launch>
