<?xml version="1.0"?>

<launch>
    <!-- bunch_of_sticks / f1_aut_wide / f1_aut_wide_obstacles / f1_aut / f1_mco / f1_gbr / f1_esp / test / infhs_slam_2-->
    <arg name="map"  default="infhs_slam_2"/>
    <arg name="bag_name"  default="$(find pure_pursuit)/maps/$(arg map)_path"/>

    <include file="$(find f1tenth_simulator)/launch/simulator.launch">
        <arg name="map" value="$(find f1tenth_simulator)/maps/$(arg map).yaml"/>
        <arg name="map_frame"  value="map"/>
    </include>

    <arg name="lookahead_distance" default="1.2"/>
    <arg name="steering_gain" default="0.5"/>
    <arg name="max_speed"  default="5"/>
    <arg name="min_speed"  default="1.75"/>
    <arg name="velocity_gain"  default="1.25"/>
    <arg name="basic_velocity"  default="False"/>
    <!-- Visualization parameters -->
    <arg name="visualization" default="False"/>
    <arg name="log_output_length" default="100"/>
    <arg name="log_output" default="False"/>
    <arg name="queue_length" default="100"/>
    <node name="pure_pursuit" pkg="pure_pursuit" type="pure_pursuit.py" output="screen">
        <param name="lookahead_distance" value="$(arg lookahead_distance)"/>
        <param name="steering_gain" value="$(arg steering_gain)"/>
        <param name="max_speed"  value="$(arg max_speed)"/>
        <param name="min_speed"  value="$(arg min_speed)"/>
        <param name="velocity_gain"  value="$(arg velocity_gain)"/>
        <param name="basic_velocity"  value="$(arg basic_velocity)"/>
        <param name="visualization" value="$(arg visualization)"/>
        <param name="queue_length" value="$(arg queue_length)"/>
        <param name="log_output_length" value="$(arg log_output_length)"/>
        <param name="log_output" value="$(arg log_output)"/>
        <param name="bag_name" value="$(arg bag_name)"/>
    </node>

    <include file="$(find timer)/launch/timer.launch">
    </include>
</launch>
